/* Set the page background to light grey */
.main {
    background-color: #A2EBC0;  /* Lightest grey */
    color: #635C53;  /* Lightest grey for text */
}

/* Style the sidebar (background bar behind page links) */
.css-1aumxhk {
    background-color: #ACBDE8;  /* Lighter grey */
}

/* Style all text inputs */
.stTextInput > div > div > input {
    color: #ffffff;  /* Light for text */
    background-color: #635C53;  /*  grey background */
}

/* Style all text areas */
.stTextArea textarea {
    color: #282521;  /* Light for text */
    background-color: #A2EBC0;  /*  grey background */
}

/* Style titles and headers */
h1, h2, h3, h4, h5, h6 {
    color: #5E8E69;  /* Lightest grey for text */
}

/* Style buttons */
.stButton > button {
    color: #f1f1f1;  /* Lightest grey for text */
    background-color: #5E8E69;  /* Dark grey background */
    border-radius: 4px;
    border: none;
    padding: 0.5rem 1rem;
}

/* Hover effect for buttons */
.stButton > button:hover {
    background-color: #635C53;  /* Darker grey on hover */
    color: #ffffff !important;;  /* Light text color on hover */
    cursor: pointer;  /* Change cursor to pointer on hover */
  }

p {
   color: #000000 !important;
  }

/* Style the list items */
.stMarkdown ul li {
    color: #635C53 !important;
}